<div class="span3">
    <a class="btn btn-success btn-large btn-block" ng-click="goToEdit('Start')">
        {{types.start}}
        <span class="badge pull-right">
            {{1}}
        </span>
    </a>
    <br>
    <a class="btn btn-danger btn-large btn-block" ng-click="goToEdit('Stop')">
        {{types.stop}}
        <span class="badge pull-right">
            1
        </span>
    </a>
    <br>
    <a class="btn btn-warning btn-large btn-block" ng-click="goToEdit('Continue')">
        {{types.cont}}
        <span class="badge pull-right">
            1
        </span>
    </a>
    <br>
    <br>
    <a href="#" class="btn btn-block">
        Ready
    </a>
<div>
