<ul class="nav nav-tabs">
    <li class="active"><button class="btn btn-success" type="button" ng-click="setRole('pro')">+</button></li>
    <li><button class="btn btn-danger" type="button" ng-click="setRole('con')">-</button></li>
    <li><button class="btn btn-warning" type="button" ng-click="setRole('puzzle')">?</button></li>
</ul>

<div class="controls controls-row container">
    <div class="span6">
        <div class="span1">
            <a class="btn btn-success" ng-click="retroPublish()">Publish</a>
        </div>
        <div class="span3">
            <h1 class="editpage">{{role}}</h1>
        </div>
    </div>
</div>
<div class="controls controls-row">
    <div class="span6">
        <div class="span3">
            <input type="text" id="message" name="message" ng-model="retroMessage" />
        </div>
        <div class="span1">
            <button id="add" name="add" ng-click="addTicket()">Add</button>
        </div>
</div>
<div class="controls controls-row">
    <div class="span6">
        <ul>
            <li ng-repeat="retroItem in retroListElements">{{retroItem.message}}</li>
        </ul>
    </div>
</div>

<h2>Positive</h2>
    <ul id="positive-tickets">
        <li ng-repeat="ticket in tickets | role:'pro'">
            <a href="#/retrospectives/{{retrospectiveId}}/tickets/{{ticket.id}}">
                {{ticket.message}}
            </a>
        </li>
    </ul>

    <h2>Negative</h2>
    <ul id="negative-tickets">
        <li ng-repeat="ticket in tickets | role:'con'">
            <a href="#/retrospectives/{{retrospectiveId}}/tickets/{{ticket.id}}">
                {{ticket.message}}
            </a>
        </li>
    </ul>

    <h2>Puzzle</h2>
    <ul id="puzzle-tickets">
        <li ng-repeat="ticket in tickets | role:'puzzle'">
            <a href="#/retrospectives/{{retrospectiveId}}/tickets/{{ticket.id}}">
                {{ticket.message}}
            </a>
        </li>
    </ul>


