<div class="controls controls-row container">
    <div class="span6">
        <div class="span1">
            <a href="#/choosetype" class="btn btn-success" ng-click="retroPublish()">Publish</a>
        </div>
        <div class="span3">
            <h1 class="editpage">{{noteType}}</h1>
        </div>
    </div>
</div>
<div class="controls controls-row">
    <div class="span6">
        <div class="span3">
            <input type="text" id="message" name="message" ng-model="retroMessage" />
        </div>
        <div class="span1">
            <button id="add" name="add" ng-click="addTicket()">Add</button>
        </div>
</div>
<div class="controls controls-row">
    <div class="span6">
        <ul>
            <li ng-repeat="retroItem in retroListElements">{{retroItem.message}}</li>
        </ul>
    </div>
</div>