<div class="hero-unit">
    <h1>Retrospectives</h1>
    <form name="retroAddForm" ng-submit="saveRetro()" novalidate>
        <fieldset>
            <legend>New retrospective</legend>
            <input type="text" ng-model="newRetrospective.name"/>
            <button>Create</button>
        </fieldset>
    </form>
    <ul>
        <li ng-repeat="retrospective in retrospectives">
            <a href="#/retrospectives/{{retrospective.id}}">{{retrospective.name}}</a>
        </li>
    </ul>
    <h3>Enjoy retrospecting!</h3>
</div>
