<div class="hero-unit">
    <h1>Retrospectacular</h1>
    <a href="#/wordcloud">See the cloud</a>

    <form name="retroAddForm" ng-submit="saveRetrospective()" novalidate>
        <div class="input-group">
            <input type="text" class="form-control" id="new-retrospective" ng-model="newRetrospective.name" placeholder="Retrospective name">
            <span class="input-group-btn">
                <button class="btn btn-success" ng-disabled="!newRetrospective.name" type="submit">Start</button>
            </span>
        </div>
    </form>

    <ul id="sprint-names">
        <li ng-repeat="retrospective in retrospectives">
            <a href="#/retrospectives/{{retrospective.id}}">{{retrospective.name}}</a>
        </li>
    </ul>
    <h3>Enjoy retrospecting!</h3>
</div>
