<header>
    <a id="tickets-publish" class="btn btn-default" href="#/retrospectives/{{retroId}}">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to board
    </a>
    <h1>My tickets</h1>
    <button id="tickets-publish" class="btn btn-success" ng-click="retroPublish()" ng-disabled="!tickets.length">Publish</button>
</header>

<ul class="nav nav-pills nav-justified">
    <li><a class="role-switcher pro" href="" ng-click="setRole('pro')">+</a></li>
    <li><a class="role-switcher con" href="" ng-click="setRole('con')">-</a></li>
    <li><a class="role-switcher puzzle" href="" ng-click="setRole('puzzle')">?</a></li>
</ul>

<form ng-submit="addTicket()">
    <div class="input-group">
        <span class="input-group-addon role-marker {{role}}"></span>
            <input type="text" class="form-control" ng-model="retroMessage" placeholder="{{placeholder}}">
            <span class="input-group-btn">
                <button id="add" name="add" ng-disabled="!retroMessage" class="btn btn-default">Add</button>
            </span>
    </div>
</form>

<div class="controls controls-row">
    <div class="span6">
        <ul>
            <li ng-repeat="retroItem in retroListElements">{{retroItem.message}}</li>
        </ul>
    </div>
</div>
<div>
    <div class="col-xs-12 col-md-4">
        <h2>Positive</h2>
            <ul id="positive-tickets" class="tickets">
                <li class="ticket pro" ng-repeat="ticket in tickets | role:'pro'">
                    <fui-editable item=ticket on-delete="deleteTicket(ticket)" on-update="saveChanges()"></fui-editable>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-4">
            <h2>Negative</h2>
            <ul id="negative-tickets" class="tickets">
                <li class="ticket con" ng-repeat="ticket in tickets | role:'con'">
                    <fui-editable item=ticket on-delete="deleteTicket(ticket)" on-update="saveChanges()"></fui-editable>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-4">
            <h2>Puzzle</h2>
            <ul id="puzzle-tickets" class="tickets">
                <li class="ticket puzzle" ng-repeat="ticket in tickets | role:'puzzle'">
                    <fui-editable item=ticket on-delete="deleteTicket(ticket)" on-update="saveChanges()"></fui-editable>
                </li>
            </ul>
        </div>
    </div>
</div>


