<header>
    <a id="tickets-publish" class="btn btn-default" href="#/retrospectives/{{retroId}}">
        <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to board
    </a>
    <h1>My tickets</h1>
    <a id="tickets-publish" class="btn btn-success" ng-click="retroPublish()">Publish</a>
</header>

<ul class="nav nav-pills nav-justified">
    <li><a class="role-switcher pro" href="" ng-click="setRole('pro')">+</a></li>
    <li><a class="role-switcher con" href="" ng-click="setRole('con')">-</a></li>
    <li><a class="role-switcher puzzle" href="" ng-click="setRole('puzzle')">?</a></li>
</ul>

<form ng-submit="addTicket()">
    <div class="input-group">
        <span class="input-group-addon role-marker {{role}}"></span>
            <input type="text" class="form-control" ng-model="retroMessage" placeholder="{{placeholder}}">
            <span class="input-group-btn">
                <button id="add" name="add" ng-disabled="!retroMessage" class="btn btn-default">Add</button>
            </span>
    </div>
</form>

<div class="controls controls-row">
    <div class="span6">
        <ul>
            <li ng-repeat="retroItem in retroListElements">{{retroItem.message}}</li>
        </ul>
    </div>
</div>

<h2>Positive</h2>
    <ul id="positive-tickets">
        <li ng-repeat="ticket in tickets | role:'pro'">
            {{ticket.message}}
            <button class="btn btn-danger" ng-click="deleteTicket(ticket)">
                <span class="glyphicon glyphicon-remove-circle"></span>
                Delete
            </button>
        </li>
    </ul>

    <h2>Negative</h2>
    <ul id="negative-tickets">
        <li ng-repeat="ticket in tickets | role:'con'">
            {{ticket.message}}
            <button class="btn btn-danger" ng-click="deleteTicket(ticket)">
                <span class="glyphicon glyphicon-remove-circle"></span>
                Delete
            </button>
        </li>
    </ul>

    <h2>Puzzle</h2>
    <ul id="puzzle-tickets">
        <li ng-repeat="ticket in tickets | role:'puzzle'">
            {{ticket.message}}
            <button class="btn btn-danger" ng-click="deleteTicket(ticket)">
                <span class="glyphicon glyphicon-remove-circle"></span>
                Delete
            </button>
        </li>
    </ul>
</div>


