lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# service
service/config.js
service/test/config-debug.js

# static
static/.sass-cache
static/.tmp
static/app/bower_components
static/dist
static/app/styles/*.css

static/app/scripts/config.js
