language: node_js
node_js:
    - '0.10'
before_install:
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"

install:
    - gem install compass
    - cd service
    - npm install
    - cd ../static
    - npm install
    - npm install -g bower grunt-cli
    - bower install

before_script:
    - cd app/scripts/
    - cp config.js.example config.js
    - cd ../../

script:
    - npm test
