@import "sass-bootstrap/lib/bootstrap";

$pro_bg: #D4FFD7;
$con_bg: #FFDADA;
$puzzle_bg: #FFFDD4;
$font_family: 'comic sans ms', fantasy;

@mixin border-box() {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Put your CSS here */
html, body, .container {
    width: 100%;
    height: 100%;
    @include border-box();
}

body, .container {
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 18px;
}

.container {
    padding: 10px;
}

h2 {
    font-size: 25px;
}

#sprint-names,
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

header h1 {
    display: inline-block;
}

#tickets-publish {
    float: right;
}

.role-switcher,
.role-marker {
    &.pro {
        background-color: $btn-success-bg;
    }

    &.con {
        background-color: $btn-danger-bg;
    }

    &.puzzle {
        background-color: $btn-warning-bg;
    }
}

.role-switcher {
    font-size: 45px;
    line-height: 25px;
    color: white;
}

#cloud-container {
    width: 100%;
    height: 100%;
}

.tickets {
    list-style: none;
    padding: 0;
}

.close-btn {
    padding: 4px 5px;
    height: 25px;
}

.modal-controls {
    text-align: right;
}

.ticket {
    padding:5px;
    margin-bottom: 5px;
    outline: 1px solid #E2E2E2;

    cursor: pointer;

    font-family: $font_family;

    &.pro {
        background-color: $pro_bg;
    }

    &.con {
        background-color: $con_bg;
    }

    &.puzzle {
        background-color: $puzzle_bg;
    }

    .ticket-controls {
        @extend .modal-controls;
    }

    .delete-ticket {
        @extend .close-btn;
    }

    .ticket-message {
        padding: 5px;
    }
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include border-box();

    -webkit-filter: blur(40px);
       -moz-filter: blur(40px);
        -ms-filter: blur(40px);
            filter: blur(40px);

    background: white;
    opacity: 0.6;
}

#tag-chooser {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFFFFF;

    -webkit-box-shadow: 0 3px 16px #888888;
       -moz-box-shadow: 0 3px 16px #888888;
            box-shadow: 0 3px 16px #888888;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.tag-selector {
    border: none;
    background: transparent;
}

.tags {

    margin: 10px 0;
    list-style: none;
    padding: 0;

    .tag {
        border-radius: 6px;
        background-color: #EFEFEF;
        border: 1px solid #DDD;
        padding: 5px;
        margin-right: 10px;
        display: inline;

        &:hover {
            color: red;
            text-decoration: none;
        }
    }


}
