@import "sass-bootstrap/lib/bootstrap";

/* Put your CSS here */
html, body, .container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

h2 {
    font-size: 25px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 18px;
}

#sprint-names,
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
}

header h1 {
    display: inline-block;
}

#tickets-publish {
    float: right;
}

.role-switcher,
.role-marker {
    &.pro {
        background-color: $btn-success-bg;
    }

    &.con {
        background-color: $btn-danger-bg;
    }

    &.puzzle {
        background-color: $btn-warning-bg;
    }
}

.role-switcher {
    font-size: 45px;
    line-height: 25px;
    color: white;
}

#cloud-container {
    width: 100%;
    height: 100%;
}
