var development = {
    'db': {
        'url': 'http://localhost:9200',
        'index': 'retrospectives_22012014'
    },
    'app': {
        'host':'localhost',
        'port': 3000
    },
    'log': {
        'transport': 'Console'
    }
},

production = {
    'db': {
        'url': 'http://localhost:9200',
        'index': 'retrospectives_22012014'
    },
    'app': {
        'host':'localhost',
        'port': 3000
    },
    'log': {
        'transport': 'DailyRotateFile',
        'dir': '/var/log/retrospectacular/',
        'file': 'retro_express_prod.json'
    }
};

exports.Config = global.process.env.NODE_ENV === 'production' ? production : development;
