<span>
    <div class="ticket-controls">
        <button class="delete-ticket btn btn-warning" ng-click="toggleEditmode()" ng-hide="showEdit">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="sr-only" ng-transclude>Edit</span>
        </button>
        <button class="delete-ticket btn btn-success" ng-click="saveChange()" ng-show="showEdit">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="sr-only" ng-transclude>Edit</span>
        </button>
        <button class="delete-ticket btn btn-danger" ng-click="onDelete()">
            <span class="glyphicon glyphicon-remove-circle"></span>
            <span class="sr-only">Delete</span>
        </button>
    </div>
    <div class="ticket-message" ng-hide="showEdit">{{item.message}}</div>
    <div class="ticket-message" ng-show="showEdit"><input class="edit-active-ticket" type="text" ng-model="item.message"</div>
</span>